.NdearLoggedIN_heading{
    font-size: 14px;
    margin-left: 10px;
    margin-top: 10px;
}
.table_div{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.NdearLoggedIN_span{
    margin-left: 20px;
}

.ndear_table,tr,td,th{
    border: 1px solid black;
    text-align: center;
    padding: 10px 20px;
}

table{
    width: 100%;
}

.detbut{
    color: white;
    padding: 10px;
    margin-right: 2px;
    background-color: rgb(15, 95, 200);
    border-color: white;
    border-radius: 10px;
}