.ndear_school_details_wrapper{
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ndear_school_details_container{
    width: 60%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.toggle_btns{
    margin-top: 50px;
    display: flex;
    width: 60%;
    justify-content: space-evenly;
}

.toggle_btns{
    height: 50px;
    /* padding:0px 10px; */
    
}


.toggle_btns_btns{
    border-radius: 10px;
    width: 150px;
    background-color: transparent;
    transition:all .3s linear ;
}

.toggle_btns_btns:hover{
    box-shadow: 0px 0px 30px rgba(179, 246, 8, .7);
    background-color: rgb(179, 246, 80);
}

.toggle_btns_btns:hover>.toggle_btns_btns_link{
    color: white;
    text-decoration: underline;
}

.toggle_btns_btns_link{
    text-decoration: none;
    color: black;
}